<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create room</title>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">

    <form action="/rooms/create" th:object="${room}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name"
                   pattern="^[A-Za-zА-Яа-я\s]+[\.\']?[A-Za-zА-Яа-я\s]*$" required>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control form-control" th:field="*{country}" id="country" required>
                <option th:each="country : ${countries}" th:value="${country.value}" th:text="${country.key}"></option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

</body>
</html>