<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room</title>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div id="room" class="container">

    <div>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/rooms}">All rooms</a>
            <a class="navbar-brand" th:text="${room.name}"></a>
            <a class="navbar-brand" th:href="@{/rooms/leave}">Leave</a>
        </nav>
    </div>

    <div class="container">
        <div id="lightOff">
            <button class="btn-primary" id="onBtn">ON</button>
            <img th:src="@{/images/lightOff.svg}"/>
        </div>
        <div id="lightOn">
            <button class="btn-secondary" id="offBtn">OFF</button>
            <img th:src="@{/images/lightOn.svg}"/>
        </div>
    </div>

</div>

<script>let roomId = [[${room.roomId}]];</script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>